TPSIT/2339/interventi_soil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Interventi">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Intervento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Comune" type="xs:string"/>
                            <xs:element name="Provincia" type="xs:string"/>
                            <xs:element name="Regione" type="xs:string"/>
                            <xs:element name="CodiceIntervento" type="xs:string"/>
                            <xs:element name="TipoIntervento" type="xs:string"/>
                            <xs:element name="Descrizione" type="xs:string"/>
                            <xs:element name="ImportoFinanziato" type="xs:decimal"/>
                            <xs:element name="FaseAttuazione" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
